# Bundler cache
.bundle
vendor
Gemfile.lock

# Jekyll cache
.jekyll-cache
.jekyll-metadata
_site

# RubyGems
*.gem

# NPM dependencies
node_modules
package-lock.json

# IDE configurations
.idea
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json

# Misc
.DS_Store
log/
log
研究日志

# Exclude posts
网友分享
日记
技术笔记

# Include logo
img/*
!img/avatar.png
!img/favicon.ico

# Exclude customized gems
customized_gems/

# Exclude tag categories
_data/tag_categories.yml
